<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace习惯上设置为包名+映射名-->
<mapper namespace="site.tgclub.dao.CategoryDao">
    <!--parameterType为传入的数据类型，resultType为结果数据类型，resultType="User"表示将结果封装成一个User类-->

    <select id="selectCategoryById" parameterType="Integer" resultMap="CateExResultMap">
        SELECT * FROM t_category c LEFT JOIN t_proj_cate pc ON pc.cateid = c.cateid LEFT JOIN t_project p ON p.proid = pc.proid LEFT JOIN t_member m ON m.proid = p.proid WHERE c.cateid =#{id}
    </select>


    <resultMap id="CateResultMap" type="Category">
        <result property="id" column="cateid"/>
        <result property="description" column="description"/>
    </resultMap>

    <resultMap id="CateExResultMap" type="Category" extends="CateResultMap">
        <collection property="projects" resultMap="site.tgclub.dao.ProjectDao.ProjectResultMap"/>
    </resultMap>


</mapper>