<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.tgclub.dao.DepartmentDao">


    <select id="selectDepartmentById" parameterType="Integer" resultType="Department"  resultMap="deptExtResultMap">
        SELECT * FROM t_department d  LEFT JOIN t_member m  ON  m.deptid=d.deptid  WHERE d.deptid =#{id}
    </select>

    <select id="getAllDepartment" resultType="Department" resultMap="deptExtResultMap">
        SELECT * FROM t_department d  LEFT JOIN t_member m  ON  m.deptid=d.deptid ORDER BY d.deptid
    </select>

    <insert id="insertDepartment" parameterType="Department">
        INSERT INTO t_department VALUES (#{id},#{description})
    </insert>



    <resultMap id="DepartmentMap" type="Department">
        <result column="deptid" property="id"/>
        <result property="description" column="description"/>
        <result property="name" column="name"/>
    </resultMap>
    
    <resultMap id="deptExtResultMap" type="Department" extends="DepartmentMap">
        <collection property="members" resultMap="site.tgclub.dao.MemberDao.memExResultMap"/>
    </resultMap>
</mapper>