<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.tgclub.dao.ManagerDao">
    <select id="selectManagerByName" parameterType="String" resultMap="ManagerResultMap">
        SELECT * FROM t_manager WHERE managerName = #{managerName}
    </select>

    <update id="updateManagerPassword" parameterType="Manager">
        UPDATE t_manager SET password = #{password} WHERE managerName = #{managerName}
    </update>

    <resultMap id="ManagerResultMap" type="Manager">
        <result property="managerName" column="managerName"/>
        <result property="password" column="password"/>
    </resultMap>
</mapper>