<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace习惯上设置为包名+映射名-->
<mapper namespace="site.tgclub.dao.MemberDao">

    <select id="selectMemberById" parameterType="Integer"  resultType="member" resultMap="memExResultMap">
        SELECT * FROM  t_member WHERE id = #{id}
    </select>

    <select id="selectMemberByName" parameterType="String" resultType="member" resultMap="memExResultMap">
        select * from t_member where username LIKE concat(concat('%',#{name}),'%');
    </select>

    <select id="getAllMembers" resultType="member" resultMap="memExResultMap" >
        SELECT * FROM t_member ORDER BY id
    </select>

    <insert id="insertMember" parameterType="member">
        INSERT INTO t_member (<include refid="key"/>) VALUES (<include refid="value"/>)
    </insert>

    <sql id="key">
        <trim suffixOverrides=",">
            <if test="id != null ">id,</if>
            <if test="username != null ">username,</if>
            <if test="college != null ">college,</if>
            <if test="projectId != null ">proId,</if>
            <if test="departmentId != null ">deptId,</if>
            <if test="avatar != null ">avatar,</if>
            <if test="introduction != null ">introduction,</if>
            <if test="tag != null ">tag,</if>
            <if test="gender != null ">gender,</if>
            <if test="age != null ">age,</if>
        </trim>
    </sql>

    <sql id="value">
        <trim suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="username != null ">#{username},</if>
            <if test="college != null ">#{college},</if>
            <if test="projectId != null ">#{projectId},</if>
            <if test="departmentId != null ">#{departmentId},</if>
            <if test="avatar != null ">#{avatar},</if>
            <if test="introduction != null ">#{introduction},</if>
            <if test="tag != null ">#{tag},</if>
            <if test="gender != null ">#{gender},</if>
            <if test="age != null ">#{age},</if>
        </trim>
    </sql>

    <update id="updateMemberById" >
        UPDATE t_member <set>
                            <if test="member.username != null ">username=#{member.username},</if>
                            <if test="member.college != null ">college=#{member.college},</if>
                            <if test="member.projectId != null ">proid=#{member.projectId},</if>
                            <if test="member.departmentId != null ">deptid=#{member.departmentId},</if>
                            <if test="member.avatar != null ">avatar=#{member.avatar},</if>
                            <if test="member.introduction != null ">introduction=#{member.introduction},</if>
                            <if test="member.tag != null ">tag=#{member.tag},</if>
                            <if test="member.gender != null ">gender=#{member.gender},</if>
                            <if test="member.age != null ">age=#{member.age}</if>
                       </set>
         WHERE id=#{id}
    </update>

    <delete id="deleteMemberById" parameterType="Integer">
        DELETE FROM t_member WHERE id = #{id}
    </delete>


    <resultMap id="memExResultMap" type="member">
        <id property="id" column="id"/>
        <result property="college" column="college"/>
        <result property="username" column="username"/>
        <result property="departmentId" column="deptId"/>
        <result property="projectId" column="proId"/>
        <result property="introduction" column="introduction"/>
        <result property="avatar" column="avatar"/>
        <result property="tag" column="tag"/>
        <result property="gender" column="gender"/>
        <result property="age" column="age"/>
    </resultMap>
    



</mapper>