<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.tgclub.dao.ProjectDao">
    <select id="selectProjectById" resultType="Project" resultMap="ProExResultMap">
        SELECT  * FROM t_project p LEFT JOIN t_member m ON  m.proid = p.proid LEFT JOIN t_proj_cate pc ON p.proid = pc.proid LEFT JOIN t_category c ON c.cateid=pc.cateid WHERE p.proid = #{id}
    </select>

    <select id="getAllProjects" resultType="Project" resultMap="ProExResultMap">
        SELECT  * FROM t_project p LEFT JOIN t_member m ON  m.proid = p.proid LEFT JOIN t_proj_cate pc ON p.proid = pc.proid LEFT JOIN t_category c ON c.cateid=pc.cateid ORDER BY p.proid
    </select>

    <insert id="insertProject" parameterType="project">
        INSERT INTO t_project (<include refid="key"/>) VALUES (<include refid="value"/>)
    </insert>

    <sql id="key">
        <trim suffixOverrides=",">
            <if test="projectName !=null">projectName,</if>
            <if test="startDate !=null">startDate,</if>
            <if test="finishedDate !=null">finishedDate,</if>
            <if test="sourceUrl !=null">sourceUrl,</if>
            <if test="leaderId !=null">leaderId,</if>
            <if test="UIProgress !=null">UIProgress,</if>
            <if test="frontProgress !=null">frontProgress,</if>
            <if test="backProgress !=null">backProgress,</if>
            <if test="picUrl !=null">picUrl,</if>
            <if test="introduction !=null">intro,</if>
            <if test="totalProgress !=null">totalProgress</if>
        </trim>
    </sql>

    <sql id="value">
        <trim suffixOverrides=",">
            <if test="projectName !=null">#{projectName},</if>
            <if test="startDate !=null">#{startDate},</if>
            <if test="finishedDate !=null">#{finishedDate},</if>
            <if test="sourceUrl !=null">#{sourceUrl},</if>
            <if test="leaderId !=null">#{leaderId},</if>
            <if test="UIProgress !=null">#{UIProgress},</if>
            <if test="frontProgress !=null">#{frontProgress},</if>
            <if test="backProgress !=null">#{backProgress},</if>
            <if test="picUrl !=null">#{picUrl},</if>
            <if test="introduction !=null">#{introduction},</if>
            <if test="totalProgress !=null">#{totalProgress}</if>
        </trim>
    </sql>

    <update id="updateProjectById" >
        UPDATE t_project <set>
                            <if test="project.projectName !=null">projectName=#{project.projectName},</if>
                            <if test="project.startDate !=null">startDate=#{project.startDate},</if>
                            <if test="project.finishedDate !=null">finishedDate=#{project.finishedDate},</if>
                            <if test="project.sourceUrl !=null">sourceUrl=#{project.sourceUrl},</if>
                            <if test="project.leaderId !=null">leaderId=#{project.leaderId},</if>
                            <if test="project.UIProgress !=null">UIProgress=#{project.UIProgress},</if>
                            <if test="project.frontProgress !=null">frontProgress=#{project.frontProgress},</if>
                            <if test="project.backProgress !=null">backProgress=#{project.backProgress},</if>
                            <if test="project.picUrl !=null">picUrl=#{project.picUrl},</if>
                            <if test="project.introduction !=null">intro=#{project.introduction},</if>
                            <if test="project.totalProgress !=null">totalProgress=#{project.totalProgress}</if>
                        </set>
        WHERE proid = #{id}
    </update>

    <delete id="deleteProjectById" parameterType="Integer">
        DELETE FROM t_project WHERE proid = #{id}
    </delete>
    
    <resultMap id="ProjectResultMap" type="Project">
        <result property="id" column="proid"/>
        <result property="projectName" column="ProjectName"/>
        <result property="backProgress" column="BackProgress"/>
        <result property="frontProgress" column="FrontProgress"/>
        <result property="UIProgress" column="UIProgress"/>
        <result property="totalProgress" column="totalProgress"/>
        <result property="picUrl" column="picUrl"/>

        <result property="sourceUrl" column="sourceUrl"/>
        <result property="introduction" column="intro"/>
        <result property="startDate" column="startDate"/>
        <result property="finishedDate" column="finishedDate"/>
        <result property="leaderId" column="leaderid"/>
        <collection property="members" resultMap="site.tgclub.dao.MemberDao.memExResultMap"/>
    </resultMap>

    <resultMap id="ProExResultMap" type="Project" extends="ProjectResultMap">
        <collection property="categories" ofType="Category" resultMap="site.tgclub.dao.CategoryDao.CateResultMap"/>
    </resultMap>

</mapper>