<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace习惯上设置为包名+映射名-->
<mapper namespace="site.tgclub.dao.UserDao">
    <!--parameterType为传入的数据类型，resultType为结果数据类型，resultType="User"表示将结果封装成一个User类-->
    <select id="selectUser" parameterType="int" resultType="User">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <insert id="insertUser" parameterType="User" >
        INSERT INTO user(id,name,age) VALUES (#{id},#{name},#{age})
    </insert>

    <delete id="deleteUser" parameterType="int">
        DELETE FROM user WHERE id = #{id}
    </delete>

    <update id="updateUser" parameterType="User">
        UPDATE user SET name=#{name} ,age=#{age} WHERE id = #{id}
    </update>

    <select id="getAllUsers" resultType="User">
        SELECT * FROM user;
    </select>

</mapper>